<ul [class]="side">
  <li  *ngFor="let child of children" 
    (mouseout)="mouseOvered(false, child.index)"
    (mouseover)="mouseOvered(true, child.index)"
    [class.hover]="child.hover"
    [class.added]="child.status === 5" 
    [class.removed]="child.status === 6" 
    [class.type-changed]="child.status === 2" 
    [class.name-changed]="child.status === 3" 
    [class.value-changed]="child.status === 4">
    <div class='tree-node'
        [ngClass]="'depth-' + depth"
        [id] = "child.id">
      <span title="take right side"
        class="do" 
        tabindex="0"
        aria-hidden="true"
        (keyup)="keyup($event)"
        (click)="advanceToRightSide(child)"
        *ngIf="showLeftActionButton && status !== child.status && child.status > 1">&#9100;</span>
      <span *ngIf='child.name && child.name!=null'
        class='name' 
        [innerHTML]="child.name.length ? child.name : '&nbsp;'">
      </span>
      <span *ngIf='child.value && child.value!=null'
        class='value' 
        [class.string]="depth > 0 && child.value && child.value.length"
        [innerHTML]="child.value ? child.value : '&nbsp;'">
      </span>
      <span title="take left side"
        class="undo" 
        tabindex="0"
        aria-hidden="true"
        (keyup)="keyup($event)"
        (click)="advanceToLeftSide(child)"
        *ngIf="showRightActionButton && status !== child.status && child.status > 1">&#9100;</span>
    </div>
    <differentiate-tree *ngIf="child.children.length" 
        [level]="depth+1" 
        [status]="child.status" 
        [showLeftActionButton]="showLeftActionButton" 
        [showRightActionButton]="showRightActionButton" 
        (onhover)="bubleup($event)"
        (onrevert)="advance($event)"
        [class.child-node]="child.parent != 4" 
        [children]='child.children'></differentiate-tree>
    <div class="upper" [ngClass]="'depth-' + depth" *ngIf="child.status > 2"></div>
    <div class="lower" [ngClass]="'depth-' + depth" *ngIf="child.status > 2"></div>
  </li>
</ul>

