<div *ngIf="categorizeBy" 
  class="diff-heading" 
  (click)="expand($event)">
  <span class="arrow" *ngIf="collapsed">&#9658;</span>
  <span class="arrow" *ngIf="!collapsed">&#9660;</span>
  <span [textContent]="categorizeBy"></span>
  <span class="counter" [textContent]="changCounter()"></span>
</div>
<ul [class]="side" [class.child]="depth ===2 || (categorizeBy && categorizeBy.length)" [class.collapsed]="categorizeBy && collapsed">
  <li  *ngFor="let child of children" 
    (mouseout)="depth === 2 ? mouseOvered($event, false, child.index) : null"
    (mouseover)="depth === 2 ? mouseOvered($event, true, child.index) : null"
    [class.hover]="child.hover"
    [class.added]="child.status === 5" 
    [class.removed]="child.status === 6" 
    [class.type-changed]="child.status === 2" 
    [class.name-changed]="child.status === 3" 
    [class.value-changed]="child.status === 4">
    <div 
      class='tree-node' 
      [ngClass]="'depth-' + depth" 
      [class.left-action]="showLeftActionButton"
      [class.right-action]="showRightActionButton" 
      [class.collapsed]="child.collapsed" 
      [id] = "child.id">
      <span [title]="rightSideToolTip"
        class="do" 
        tabindex="0"
        aria-hidden="true"
        (keyup)="keyup($event)"
        (click)="advanceToRightSide(child)"
        *ngIf="showLeftActionButton && status !== child.status && child.status > 1">&#9100;</span>
      <span *ngIf='child.name && child.name!=null'
        class='name' 
        [innerHTML]="child.name.length ? child.name : '&nbsp;'">
      </span>
      <span *ngIf='child.value != undefined && child.value!=null'
        class='value' 
        [class.string]="depth > 0 && child.value && child.value.length"
        [innerHTML]="child.value != undefined  ? ''+child.value : '&nbsp;'">
      </span>
      <span [title]="leftSideToolTip"
        class="undo" 
        tabindex="0"
        aria-hidden="true"
        (keyup)="keyup($event)"
        (click)="advanceToLeftSide(child)"
        *ngIf="showRightActionButton && status !== child.status && child.status > 1">&#9100;</span>
    </div>
    <differentiate-tree *ngIf="child.children.length" 
        [level]="depth+1" 
        [status]="child.status" 
        [collapsed]="child.collapsed"
        [categorizeBy]="child.categorizeBy"
        [showLeftActionButton]="showLeftActionButton" 
        [leftSideToolTip]="leftSideToolTip"
        [showRightActionButton]="showRightActionButton" 
        [rightSideToolTip]="rightSideToolTip"
        [objectPath]="objectPath + (objectPath.length ? ',':'') + child.index"
        (onhover)="bubleup($event)"
        (onrevert)="advance($event)"
        (onexpand)="autoExpand($event)"
        [class.child-node]="child.parent != 4" 
        [children]='child.children'></differentiate-tree>
    <div *ngIf="child.status > 2" class="upper" [class.collapsed]="child.collapsed" [ngClass]="'depth-' + depth" ></div>
    <div *ngIf="child.status > 2" class="lower" [class.collapsed]="child.collapsed" [ngClass]="'depth-' + depth" ></div>
  </li>
</ul>

