<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <span *ngIf="diffCount>0">There are {{diffCount}} changes!!</span>
  <span *ngIf="diffCount==0">Both files are identical!!</span>
</div>

<button (click)="sampleJson = undefined;displayEntry = true">Add new JSON in dropdown</button>
<div id="entry" *ngIf="displayEntry">
  <div class="heading"><a (click)="displayEntry = false;">X</a></div>
  
  <div class="info" *ngIf="!error">Please select a name for your data set it to be added in dropdown. And drop in data and transformation.</div>
  <div class="alert" *ngIf="error" [textContent]="error"></div>
  <label for="entryName">Name: <input id="entryName" #entryName /></label>
  <label for="entryJson" class="wide">
    Data JSON: 
    <textarea #sampler
      id="entryJson" 
      cols="40" 
      rows="10" 
      (keyup)="keyup($event)"
      (paste)="onDataPaste($event, sampler.value)" 
      [textContent]="sampleJson | json"></textarea>
  </label>
  <button (click)="addDataEntry(entryName.value)" *ngIf="!pointsOfEntry || pointOfEntry">
  Submit
</button>
</div>

<fieldset class="pick-points">
  <legend>Options:</legend>
  <label for="rootObject">Name Root Object:
  <input 
      type="text" 
      title="Comma separated String attributes of root object"
      placeholder="id,firstname"
      [value]="namedRootObjectTemp" 
      (keyup)="textkeyup($event)"
      (input)="namedRootObjectTemp = $event.target.value;"  />
    </label>
  <label for="option1">
      <input 
          type="checkbox" 
          name="option1" 
          id="option1" 
          [value]="attributeOrderIsImportant" 
          [checked]="attributeOrderIsImportant ? true: null" 
          (keyup)="keyup($event)"
          (click)="click($event, 'attributeOrderIsImportant')" /> 
      <span>Attribute Order Is Important</span>
  </label>   
  <label for="option2">
    <input 
        type="checkbox" 
        name="option2" 
        id="option2" 
        [value]="onlyShowDifferences" 
        [checked]="onlyShowDifferences ? true: null" 
        (keyup)="keyup($event)"
        (click)="click($event, 'onlyShowDifferences')" /> 
    <span>Only Show Differences</span>
  </label>   
  <label for="option3">
    <input 
        type="checkbox" 
        name="option3" 
        id="option3" 
        [value]="enableRevert" 
        [checked]="enableRevert ? true: null" 
        (keyup)="keyup($event)"
        (click)="click($event, 'enableRevert')" /> 
    <span>Enable Revert Differences</span>
  </label>
  <label for="option4">
  <input 
      type="checkbox" 
      name="option4" 
      id="option4" 
      [value]="enableAdvance" 
      [checked]="enableAdvance ? true: null" 
      (keyup)="keyup($event)"
      (click)="click($event, 'enableAdvance')" /> 
  <span>Enable Advance Differences</span>
</label>   
</fieldset>

<div class="selection-wrapper">
  <select (change)="leftSideSelection($event)">
    <option *ngFor="let option of options" 
            [value]="option" 
            [selected]="selectedLeft===option"
            [textContent]="option"></option>
  </select>
  <select (change)="leftrightSideSelection($event)">
    <option *ngFor="let option of options" 
            [value]="option" 
            [selected]="selectedRight===option"
            [textContent]="option"></option>
  </select> 
</div>
<differentiate 
    [allowRevert]="enableRevert"
    [allowAdvance]="enableAdvance"
    (onrevert)="revert($event)"
    (onadvance)="advance($event)"
    (ondifference)="ondifference($event)"
    [namedRootObject]="namedRootObject"
    [leftSideToolTip]="'pull from ' + selectedLeft + ' file'"
    [rightSideToolTip]="'pull from ' + selectedRight + ' file'"
    [onlyShowDifferences]="onlyShowDifferences"
    [attributeOrderIsImportant]="attributeOrderIsImportant"
    [leftSideObject]="lefttree" 
    [rightSideObject]="righttree"></differentiate>
    
<div class="json-wrapper">
  <div class="json-view left" [innerHTML]="lefttree | json"></div>
  <div class="json-view right" [innerHTML]="righttree | json"></div>  
</div>

<ul class="logger">
  <li [innerHTML]="action | json" *ngFor="let action of actions"></li>
</ul>
